.banner{
    height: 90vh;
    background-image: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe{
    height: 70vh;
    object-fit: cover;
    background-image: url('./assets/newslater.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
